{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>
<button onclick="window.location.href='{{ url_for('main_bp.add_city_form') }}'">Add City</button>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>State ID</th>
        <th>Population</th>
        <th>Founded Date</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
        <td>{{ city.id }}</td>
        <td>{{ city.name }}</td>
        <td>{{ city.state_id }}</td>
        <td>{{ city.population }}</td>
        <td>{{ city.founded_date }}</td>
        <td>
            <a href="{{ url_for('main_bp.update_city_form', id=city.id) }}">Update</a>
            <form action="{{ url_for('main_bp.delete_city') }}" method="POST" style="display:inline;">
                <input type="hidden" name="id" value="{{ city.id }}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}