{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>
<button onclick="window.location.href='{{ url_for('main_bp.add_government_form') }}'">Add Government</button>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Planet ID</th>
        <th>Type</th>
        <th>Leader</th>
        <th>Established Date</th>
    </tr>
    </thead>
    <tbody>
    {% for government in governments %}
    <tr>
        <td>{{ government.id }}</td>
        <td>{{ government.planet_id }}</td>
        <td>{{ government.type }}</td>
        <td>{{ government.leader }}</td>
        <td>{{ government.established_date }}</td>
        <td>
            <a href="{{ url_for('main_bp.update_government_form', id=government.id) }}">Update</a>
            <form action="{{ url_for('main_bp.delete_government') }}" method="POST" style="display:inline;">
                <input type="hidden" name="id" value="{{ government.id }}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}